<h1><%= t('txt.registration.external.colorado.go.title') %></h1>

<div id="external">

  <div class="text">
    <p><%= t('txt.registration.external.colorado.go.timeout') %></p>
  </div>

  <div class="text">
    <p><%= t('txt.registration.external.colorado.go.timeout_2', :co_url => '"http://www.sos.state.co.us/Voter/regVoterIntro.do"') %></p>
    <p><%= t('txt.registration.external.colorado.go.timeout_3') %></p>
  </div>
</div>
