$fs: 12px;
$table_label_fs: 0.75 * $fs;
$table_sublabel_fs: 0.6 * $fs;

$page_width: 2400px;

$border_color: #231f20;
$red: #e21a2b;
$black: #000;
$light_black: #333;


#page_1 {
	p.top_paragraph {
		font-size: 1.5 * $fs;
	}
}