
html, body {
	font-family: 'Tahoma';
}



#page_1 {
	h1, h2 {
		font-size:50px;
		line-height: 1.6em;
	}
	h2 {
		font-size:33px;
		line-height: 1.4em;
	}
	p.top_paragraph {
		padding:.5em 0;
		font-size: 25px;
	}
	
}

p {
	line-height: 1.4em;
}

#page_2 .bottom_half h4.bottom_half_footer span.smaller_prompt {
	font-size:.5em;
}
