.DS_Store
.idea
.rvmrc
.vimrc
.bundle
.bundle/*
Gemfile.lock
config/database.yml
config/newrelic.yml
config/initializers/hoptoad.rb
config/initializers/session_store.rb
config/deploy.rb
config/deploy/production.rb
config/deploy/staging.rb
config/deploy/staging2.rb
db/bootstrap/partners.yml
log/*.log
tmp/*
public/pdf/*
public/system/*
reg_colorado.yml
# files symlinked to rocky_branding gem
app/views/layouts/_urchin.html.erb
app/views/notifier/confirmation.en.html.erb
app/views/notifier/confirmation.es.html.erb
app/views/notifier/reminder.en.html.erb
app/views/notifier/reminder.es.html.erb
app/views/finishes/_adwords.html.erb
app/views/registrants/_overseas.html.erb
config/initializers/sponsor_customizations.rb
config/locales/
data/nvra_templates
db/bootstrap/import/
public/images
public/floatbox
public/partners
public/stylesheets/application.css
public/stylesheets/partner.css
public/stylesheets/registration.css
# Pito
db/*.sqlite3
