.DS_Store
.idea
.rvmrc
.vimrc
config/mobile.yml
config/states_with_online_registration.yml
config/database.yml
config/newrelic.yml
config/initializers/hoptoad.rb
config/initializers/session_store.rb
config/deploy.rb
config/deploy/production.rb
config/deploy/staging.rb
config/deploy/staging2.rb
db/bootstrap/partners.yml
log/*.log
tmp/*
public/TEST
public/csv
public/csv/*
public/pdf/*
public/system/*
reg_colorado.yml
db/*.sqlite3
rocky_test