.DS_Store
.idea
config/database.yml
config/newrelic.yml
config/initializers/hoptoad.rb
config/initializers/session_store.rb
db/bootstrap/partners.yml
log/*.log
tmp/*
public/pdf/*
public/system/*
reg_colorado.yml
