<h1>Partners</h1>

<table id="partners">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Whitelabeled</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @partners.each do |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><%= h p.name %></td>
        <td><%= p.whitelabeled? ? 'Yes' : 'No' %></td>
        <td><%= link_to "Show", admin_partner_path(p) %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
