<% @nav_class[:profile] = :current -%>
<h1>Profile</h1>

<% form_for @partner, :url => partner_path, :method => :put do |form| %>
  <%= render :partial => form %>
  <p><%= form.submit "Update" %></p>
<% end %>
