
<form action="show_submit" method="get" accept-charset="utf-8">
  <div>
    <h3><label for="widget_html">Copy this:</label></h3>
    <p><textarea name="widget_html" readonly="readonly" rows="6" cols="110"><%= h @widget_html %></textarea></p>
  </div>
</form>
