<% rtv_link = '<strong><a href="http://register.rockthevote.com/">register.rockthevote.com</a></strong>' %>
<style type="text/css">
<!--
.boxtext {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 22px;
  font-style: normal;
  line-height: 25px;
  font-weight: bolder;
  text-transform: uppercase;
}
-->
</style>

Estimado <%= @registrant.first_name %>,<br><br>

<table style="float: right; margin: 0 0 15px 15px; width: 275px; border: 8px solid #cc0000;color:black" width="275" cellspacing="0" cellpadding="10">
  <tr>
    <td align="center" valign="middle" class="boxtext">No se te olvide!<br> Tienes que poner un sello, firmar y enviar tu forma por correo.</td>
  </tr>
</table>

Gracias por completar tu aplicaci  n para el registro del voto con Rock the Vote.   Si no lo has hecho a  n, porfavor descarga <a href="<%= @pdf_url %>">tu aplicaci  n.</a>.<br><br>

<strong>Tu registro a  n no est   completo.  No est  s registrado hasta que entregues tu forma a los oficiales electorales de tu estado.</strong><br><br>

Si no lo has hecho a  n, <strong>porfavor aseg  rate de imprimir, firmar, poner un sello y enviar v  a correo a la direcci  n provista en tu forma y abajo indicada.</strong><br><br>

<%= @registrar_address %><br><br>

Debes recibir una confirmaci  n de tu registro por parte de los oficiales electorales de tu estado.  Algunas veces, el proceso toma varias semanas.  Si quieres revisar el estatus de tu forma de registro del voto, llama a tu Sectretar  a de Estado al <%= @registrar_phone %>.<br><br>

Necesitamos tu apoyo para registrar a otras personas.  En este 2010, hay elecciones grande en todo el pa