<% rtv_link = '<strong><a href="http://register.rockthevote.com/">register.rockthevote.com</a></strong>' %>
<style type="text/css">
<!--
.boxtext {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 22px;
  font-style: normal;
  line-height: 25px;
  font-weight: bolder;
  text-transform: uppercase;
}
-->
</style>

<%= I18n.t('email.thank_you_external.body.main',
  :registrant_first_name=>@registrant.first_name,
  :rtv_and_partner_name=>@registrant.rtv_and_partner_name.to_s.html_safe,
  :state_name=>@registrant.home_state_name.to_s.html_safe,
  :state_abbr=> @registrant.home_state_abbrev.to_s.html_safe,
  :registrar_phone=>@registrar_phone.to_s.html_safe,
  :registrar_url=>@registrar_url.to_s.html_safe, :locale => @registrant.locale.to_sym
  ).html_safe %>

<hr size="3" align="left" width="100%" color="black"><br><br>

<%= I18n.t('email.thank_you_external.body.send_to_friends', 
  :rtv_link=>rtv_link.to_s.html_safe,
  :registrant_first_name=>@registrant.first_name, :locale => @registrant.locale.to_sym
  ).html_safe %>

<hr size="3" align="left" width="100%" color="black"><br><br>

<%= I18n.t('email.thank_you_external.body.footer', :locale => @registrant.locale.to_sym).html_safe %> 
