<% content_for :subnav do -%>
  <% @nav_class[:customize] = :current; @nav_class[:widget] = :current -%>
  <%= render :partial => "layouts/customize_nav" %>
<% end -%>

<div class="customize">
  <h1>Choose A Web Banner</h1>
  <div class="text">
    <p>
      Before you get your embed code, decide the banner size you'd like to use on your site.
      After you choose the banner, you can get your embed code.
    </p>
  </div>

  <div id="choose_widget">
  <% form_for @partner, :url => partner_widget_image_path, :method => :put do |form| %>
    <fieldset>
    <legend>Select Widget Banner</legend>
      <table>
        <tbody>
          <%= render :partial => "widget", :collection => Partner::WIDGET_IMAGES, :locals => {:form => form} %>
        </tbody>
      </table>
    </fieldset>
    <%= partner_rollover_button("save", "Save") %>
  <% end %>
  </div>
</div>