#main h1 {}
h1.foo {}

/* Eric Meyer's Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
/* end reset */

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
}

/* base */

h1, h2, h3, h4, h5, h6, legend {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4 { font-size: 12px; }
h5 { font-size: 12px; }
h6 { font-size: 12px; }
legend { font-size: 14px; }

a { text-decoration: none; }
a:link    { color: #B2272C; }
a:visited { color: #B2272C; }
a:hover   { color: #000000; }
a:active  { color: #666666; }

input, select, textarea {
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}

input, textarea {
  letter-spacing: 0.08em;
}

.has_error input, .has_error select {
  background-color: #fcc;
}

.error {
  color: #B2272C;
}

/* rollover buttons */

form div.button {
  text-align: center;
  margin: 25px auto;
}

.button a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

.button a button {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  overflow: visible;
}

.button a span {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: left top;
  text-indent: -9999em;
  white-space: nowrap;
}

.button a:hover span  {
  background-position: right top;
}

#footer {
  zoom: 1;
  height: 40px;
  margin: 0 auto;
  color: #d0d0d0;
  background-color: black;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
}

#footer p {
  margin: 0;
  font-size: 1.15em;
  line-height: 40px;
  text-align: center;
}

#footer span {
  margin: 0 0.5em;
}

#footer a:link    { color: #D0D0D0; }
#footer a:visited { color: #D0D0D0; }
#footer a:hover   { color: #FFFFFF; }
#footer a:active  { color: #FFFFFF; }


#footer a:hover {
  color: white;
}

.copyright {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  font-style: oblique;
  color: #CCCCCC;
}
