/* Eric Meyer's Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
/* end reset */

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
}

/* rollover buttons */

form div.button {
  text-align: center;
  margin: 25px auto;
}

.button a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

.button a button {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  overflow: visible;
}

.button a span {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: left top;
  text-indent: -9999em;
  white-space: nowrap;
}

.button a:hover span  {
  background-position: right top;
}
