html, body {
  height: 100%;
}

body {
  background-color: #2a2a2a;
}

strong {
  font-weight: bold;
}

ul.flash {
  margin: 10px auto;
  width: 50%;
  background-color: #a7a;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.flash li {
  padding: 10px;
}

#container {
  width: 720px;
  margin: 0 auto;
  background: #ddd url(../images/partner/content_bg.gif) repeat-x top left;
  border-width: 2px;
  border-style: solid;
  border-color: #444;
}

#main p {
  margin: 0.5em 0;
}

#main a:hover {
  color: #f33;
}


#header {
  position: relative;
  height: 100px;
  width: 100%;
  background: #ddd url(/images/partner/header_bg.jpg) no-repeat top left;
}

#header.not_logged_in {
  background-image: url(/images/partner/header_not_logged_in_bg.jpg);
}

#header a:link    { color: #b42225; }
#header a:visited { color: #b42225; }
#header a:hover   { color: #000000; }
#header a:active  { color: #000000; }

#header span {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 13px;
  font-weight: bold;
}

#header span a:link    { color: #b42225; }
#header span a:visited { color: #b42225; }
#header span a:hover   { color: #FFFFFF; }
#header span a:active  { color: #FFFFFF; }


#header p {
  position: absolute;
  bottom: 0;
  left: 20px;
}

#header p, #customize_nav p {
  font-weight: bold;
  color: #909090;
}

#header p a {
  margin: 0 0.25em;
  text-transform: uppercase;
}

#footer {
  width: 720px;
}

#main {
  background-color: transparent;
  position: relative;
  padding: 10px 20px;
}

#header a:link.current,
#header a:visited.current,
#main   a:link.current,
#main   a:visited.current {
  color: #000000;
}

h1 {
  margin: 1em 0;
}

h2, h3 {
  margin-top: 15px;
}

p {
  font-size: 14px;
}
.text p {
  margin: 1em 0;
  font-size: 13px;
  line-height: 1.5em;
}

.text {
  margin: 1em 0;
}

/*** forms ***/

.profile form {
  position: relative;
  width: 560px;
  margin: 0 auto;
}


fieldset {
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 5px;
}

.profile fieldset {
  padding: 10px 20px;
}

legend {
  padding: 0 5px;
  line-height: 17px;
}

ul {
  margin: 1em 0;
}

li {
  font-size: 14px;
  list-style: disc;
  margin: 0.5em 2em;
}

form li {
  list-style: none;
  margin: 0 5px 0 0;
}

.copy_html textarea {
  padding: 1em;
  font-family: Menlo, Courier, "Courier New", monospace;
  font-size: 11px;
}

.wrapper {
  position: relative;
}

#upload_logo {
  overflow: hidden;
}

#upload_logo .sample {
  float: right;
  padding: 20px;
}

#upload_logo .logo {
  width: 313px;
  height: 69px;
  margin: 10px 2px;
  background: white url(/images/partner/logo_frame.png) no-repeat top left;
}

#upload_logo .logo img {
  position: relative;
  width: 75px;
  height: 45px;
  top: 12px;
  left: 20px;
}

#upload_logo .logo p {
  position: relative;
  width: 65px;
  height: 35px;
  top: 12px;
  left: 20px;
  padding: 5px;
  color: red;
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  background: white;
}

#upload_logo h3 {
  margin-bottom: 15px;
}

#upload_logo div.button {
  margin: 15px 0;
  width: 137px;
}

/*** select widget image ***/

#choose_widget fieldset {
  width: 570px;
  margin: 20px auto;
}

#choose_widget th, #choose_widget td {
  padding: 10px;
}

#choose_widget th {
  vertical-align: middle;
}

#choose_widget th input {
  margin: 0;
}

#choose_widget td label {
  font-size: 14px;
  line-height: 18px;
}

#choose_widget td em {
  position: relative;
  left:   4px;
  bottom: 4px;
  color: #909090;
  font-size: 11px;
  font-weight: bold;
}

/*** statistics page ***/

#statistics {
  margin: 10px auto;
}

#statistics div {
  width: 300px;
  margin: 20px;
}

.stats {
  margin-bottom: 20px;
  width: 275px;
  font-size: 13px;
}

.stats table {
  border: 1px solid #c0c0c0;
  width: 100%;
}

.stats thead th, .stats thead td {
  padding-top: 6px;
  padding-bottom: 6px;
  color: #d8d8d8;
  background: #0b0b0b url(/images/partner/stats_header_bg.gif) top left repeat-x;
  font-weight: bold;
}

.stats th, .stats td {
  padding: 4px 8px;
}

.stats th {
  text-align: left;
}

.stats td {
  text-align: right;
}

.stats td:last-child {
  width: 21%;
}

.stats th, .stats td {
  background-color: #d8d8d8;
}

.stats .even th, .stats .even td {
  background-color: #c0c0c0;
}

/* rollover buttons */

a.button_downloadcsv        { width: 258px; height: 22px; }
a.button_downloadcsv span   { width: 258px; height: 22px; background-image: url(/images/partner/button_downloadcsv_ro.gif); }
a.button_getembedcode       { width: 186px; height: 22px; }
a.button_getembedcode span  { width: 186px; height: 22px; background-image: url(/images/partner/button_getembedcode_ro.gif); }
a.button_deletelogo         { width: 137px; height: 22px; }
a.button_deletelogo span    { width: 137px; height: 22px; background-image: url(/images/partner/button_deletelogo_ro.gif); }
a.button_uploadlogo         { width: 137px; height: 22px; }
a.button_uploadlogo span    { width: 137px; height: 22px; background-image: url(/images/partner/button_uploadlogo_ro.gif); }
a.button_signup             { width: 207px; height: 36px; }
a.button_signup span        { width: 207px; height: 36px; background-image: url(/images/partner/button_signup_ro.gif); }
a.button_update             { width: 207px; height: 36px; }
a.button_update span        { width: 207px; height: 36px; background-image: url(/images/partner/button_update_ro.gif); }
