
#container {
  margin: 2em;
}

h1, h2, h3, h4, h5, h6, legend {
  font-family: Trebuchet, "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 18px;
  margin: 1em 0;
}

p {
  font-size: 12px;
  margin: 0.5em 0;
}

.copy_html textarea {
  padding: 1em;
  font-family: Menlo, Courier, "Courier New", monospace;
  font-size: 11px;
}

.wrapper {
  position: relative;
}

.column-right {
  position: absolute;
  top: 0;
  left: 300px;
}

.stats {
  margin-bottom: 20px;
  width: 275px;
  font-size: 13px;
}

.stats table {
  border: 1px solid #c7c7c7;
  width: 100%;
}

.stats thead th, .stats thead td {
  font-weight: bold;
}

.stats th, .stats td {
  padding: 4px 8px;
}

.stats th {
  text-align: left;
}

.stats td {
  text-align: right;
}

.even th, .even td {
  background-color: #d8d8d8;
}