html, body {
  height: 100%;
}

body {
  background-color: #2a2a2a;
}

strong {
  font-weight: bold;
}

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4 { font-size: 12px; }
h5 { font-size: 12px; }
h6 { font-size: 12px; }

ul.flash {
  margin: 10px auto;
  width: 50%;
  background-color: #a7a;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.flash li {
  padding: 10px;
}

#container {
  width: 720px;
  margin: 0 auto;
  background-color: #eaeaea;
}

#container a {
  color: #B2272C;
  text-decoration: none;
}

#container a:hover {
  color: #f33;
}


#header {
  position: relative;
  padding: 0px 20px 5px;
  height: 110px;
  background: black url(/images/home_rtv_logo.png) no-repeat 20px 0;
  color: #d8d8d8;
}

#header a {
  color: #b42225;
  text-decoration: none;
}

#header a:hover {
  color: #F00;
}

#header span {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 12px;
}

#header p {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

#main {
  background-color: #eaeaea;
  position: relative;
  padding: 10px 20px;
}

h1, h2, h3, h4, h5, h6, legend {
  font-family: Trebuchet, "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
}

h1 {
  margin: 1em 0;
}

h2, h3 {
  margin-top: 15px;
}

p {
  font-size: 14px;
  margin: 0.5em 0;
}

.text p {
  margin: 1em 0;
  line-height: 1.5em;
}

.text {
  margin: 1em 0;
}

/*** forms ***/

fieldset {
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 5px;
}

legend {
  padding: 0 5px;
  line-height: 17px;
}

ul {
  margin: 1em 0;
}

li {
  font-size: 14px;
  list-style: disc;
  margin: 0.5em 2em;
}

label {
  font-weight: bold;
}

.copy_html textarea {
  padding: 1em;
  font-family: Menlo, Courier, "Courier New", monospace;
  font-size: 11px;
}

.wrapper {
  position: relative;
}

/*** select widget image ***/

#choose_widget fieldset {
  width: 570px;
  margin: 20px auto;
}

#choose_widget th, #choose_widget td {
  padding: 10px;
}

#choose_widget th {
  vertical-align: middle;
}

#choose_widget th input {
  margin: 0;
}

#choose_widget td label {
  font-size: 14px;
  line-height: 18px;
}

#choose_widget td em {
  position: relative;
  left:   4px;
  bottom: 4px;
  color: #909090;
  font-size: 11px;
  font-weight: bold;
}

/*** statistics page ***/

#statistics {
  margin: 10px auto;
}

#statistics div {
  width: 300px;
  margin: 20px;
}

.stats {
  margin-bottom: 20px;
  width: 275px;
  font-size: 13px;
}

.stats table {
  border: 1px solid #c0c0c0;
  width: 100%;
}

.stats thead th, .stats thead td {
  padding-top: 6px;
  padding-bottom: 6px;
  color: #d8d8d8;
  background: #0b0b0b url(/images/partner/stats_header_bg.gif) top left repeat-x;
  font-weight: bold;
}

.stats th, .stats td {
  padding: 4px 8px;
}

.stats th {
  text-align: left;
}

.stats td {
  text-align: right;
}

.stats td:last-child {
  width: 21%;
}

.stats th, .stats td {
  background-color: #d8d8d8;
}

.stats .even th, .stats .even td {
  background-color: #c0c0c0;
}

/* rollover buttons */

a.button_downloadcsv       { width: 258px; height: 22px; }
a.button_downloadcsv span  { width: 258px; height: 22px; background-image: url(/images/partner/button_downloadcsv_ro.gif); }
a.button_getembedcode      { width: 186px; height: 22px; }
a.button_getembedcode span { width: 186px; height: 22px; background-image: url(/images/partner/button_getembedcode_ro.gif); }
