
#container {
  margin: 2em;
}

h1, h2, h3, h4, h5, h6, legend {
  font-family: Trebuchet, "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 18px;
  margin: 1em 0;
}

p {
  font-size: 12px;
  margin: 0.5em 0;
}

.copy_html textarea {
  padding: 1em;
  font-family: Menlo, Courier, "Courier New", monospace;
  font-size: 11px;
}

.stats {
  font-size: 12px;
}

.stats th, .stats td {
  padding: 2px 4px;
}

.stats th {
  text-align: left;
}

.stats td {
  text-align: right;
}

.even th, .even td {
  background-color: #d8d8d8;
}