html, body {
  height: 100%;
}

body {
  background-color: #2a2a2a;
}

strong {
  font-weight: bold;
}

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4 { font-size: 12px; }
h5 { font-size: 12px; }
h6 { font-size: 12px; }

ul.flash {
  margin: 10px auto;
  width: 50%;
  background-color: #a7a;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.flash li {
  padding: 10px;
}

#container {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  background-color: #eaeaea;
}

#header {
  position: relative;
  padding: 0px 20px 5px;
  height: 110px;
  background: black url(/images/home_rtv_logo.png) no-repeat 20px 0;
  color: #d8d8d8;
}

#header a {
  color: #B00;
  text-decoration: none;
}

#header a:hover {
  color: #F00;
}

#header span {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 12px;
}

#header p {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

#main {
  background-color: #eaeaea;
  position: relative;
  padding: 10px 20px;
/*  min-height: 500px;*/
}

h1, h2, h3, h4, h5, h6, legend {
  font-family: Trebuchet, "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
}

h1 {
  margin: 1em 0;
}

h2, h3 {
  margin-top: 15px;
}

p {
  font-size: 14px;
  margin: 0.5em 0;
}

ul {
  margin: 1em 0;
}

li {
  font-size: 14px;
  list-style: disc;
  margin: 0.5em 2em;
}

label {
  font-weight: bold;
}

.copy_html textarea {
  padding: 1em;
  font-family: Menlo, Courier, "Courier New", monospace;
  font-size: 11px;
}

.wrapper {
  position: relative;
}

.column-right {
  position: absolute;
  top: 0;
  left: 300px;
}

.stats {
  margin-bottom: 20px;
  width: 275px;
  font-size: 13px;
}

.stats table {
  border: 1px solid #c7c7c7;
  width: 100%;
}

.stats thead th, .stats thead td {
  color: #d8d8d8;
  background-color: black;
  font-weight: bold;
}

.stats th, .stats td {
  padding: 4px 8px;
}

.stats th {
  text-align: left;
}

.stats td {
  text-align: right;
}

.stats th, .stats td {
  background-color: #d8d8d8;
}

.stats .even th, .stats .even td {
  background-color: #a0a0a0;
}
