body {
  background-color: #2a2a2a;
}

h1, h2, h3, h4, h5, h6, legend {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4 { font-size: 12px; }
h5 { font-size: 12px; }
h6 { font-size: 12px; }
legend { font-size: 14px; }

input, select, textarea {
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}

input, textarea {
  letter-spacing: 0.07em;
}

#container {
  width: 600px;
  margin: 0 auto;
  background-color: #eaeaea;
}

#header {
  
}

#footer {
  width: 100%;
  height: 30px;
  color: #d0d0d0;
  background-color: black;
}

#footer p {
  padding-right: 1em;
  line-height: 30px;
  text-align: right;
}

#main {
  margin: 20px;
}

form {
  width: 100%;
}

form.copy_html {
  width: inherit;
}

fieldset {
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 5px;
}

legend {
  padding: 0 5px;
}

form ul {
  margin: 1em 0 1em 10px;
  overflow: hidden;
}

form fieldset ul {
  margin: 0 0 0 5px;
}

form li {
  float: left;
  margin-right: 0.5em;
}

form h3 {
  font-weight: normal;
  color: #434343;
  margin: 0;
}


ul.flat h3 {
  float: left;
  height: 25px;
  width: 120px;
  margin-right: 0.5em;
  line-height: 26px;      /* browser diff */
  text-align: right;
  font-size: 14px;
/*  font-weight: bold;*/
}

ul.flat .secondary h3 {
  width: inherit;
  margin-left: 10px;
}

ul.flat div {
  float: left;
  height: 25px;
}


ul.stacked {
  margin-top: 5px;
}

ul.stacked h3 {
  margin-bottom: 3px;
  font-size: 13px;
}

ul.stacked li div {
  height: 25px;
}


ul.checkbox h3 {
  height: 25px;
  line-height: 20px;
}


ul.question {
  width: 75%;
  margin-top: 20px;
}

ul.question li, ul.question h3 {
  width: 100%;
}

ul.question textarea {
  width: 95%;
  margin-top: 6px;
  margin-left: 3%;
}

form hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  margin: 0;
  border: none;
}

form div.button {
  text-align: center;
}

form div.button input {
  color: white;
  background-color: #e22;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.005em;
  text-transform: uppercase;
}

span.error {
  display: inline-block;
  color: red;
}

.flat span.error {
  font-size: 11px;
  height: 24px;
  line-height: 24px;
  margin-left: 5px;
}

.stacked span.error {
  font-size: 10px;
  height: 12px;
  line-height: 15px;
  margin-left: 5px;
}
