html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #2a2a2a;
}

a { text-decoration: none; }
a:link    { color: #B2272C; }
a:visited { color: #B2272C; } 
a:hover   { color: #000000; }
a:active  { color: #666666; }

#main a {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.return a {
  font-size: 12px;
}

#header-fixed {
  position: fixed;
  top: 0;
  height: 97px;
  width: 100%;
}

#header {
  position: relative;
  height: 100%;
  width: 600px;
  margin: 0 auto;
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: #444;
  background-image: url('/images/reg/header.jpg');
  background-repeat: no-repeat;
}

#header.partner {
  background-image: url('/images/reg/partner-header.jpg');
}

#partner-logo {
  position: absolute;
  top: 13px;
  left: 20px;
}
#partner-logo img {
  width: 73px;
  height: 43px;
}

#progress-bar {
  position: absolute;
  top: 71px;
  left: 5px;
}

.progress-title {
  padding-right: 5px;
}

#progress-bar li {
  float: left;
  width: 27px;
  height: 22px;
  margin: 0 2px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 28px;
  background-repeat: no-repeat;
}

#progress-bar li.progress-done {
  background-image: url('/images/buttons/progress_done.gif');
}

#progress-bar li.progress-current {
  background-image: url('/images/buttons/progress_current.gif');
}

#progress-bar li.progress-todo {
  background-image: url('/images/buttons/progress_todo.gif');
}

/*added larger font size for tooltips*/
.qtip-content {
font-size: 1.15em;
}

#footer-fixed {
  position: fixed;
  bottom: 0;
  height: 42px;
  width: 100%;
}

#footer {
  zoom: 1;
  height: 40px;
  width: 600px;
  margin: 0 auto;
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: #444;
  color: #d0d0d0;
  background-color: black;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 1.15em;
}

#footer p {
  padding-right: 1em;
  line-height: 40px;
  text-align: center;
}

#footer span {
  margin: 0 0.5em;
}

#footer a {
  color: #d0d0d0;
  text-decoration: none;
}

#footer a:hover {
  color: white;
}

.copyright {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  font-style: oblique;
  color: #CCCCCC;
}

#container {
  zoom: 1;
  position: relative;
  height: 100%;
  width: 600px;
  margin: 0 auto;
  border-width: 0 2px;
  border-style: solid;
  border-color: #444;
  background: #dcdcdc url(/images/reg/content_bg_repeat_x.gif) repeat-x left top;
}

#main-scroller {
  zoom: 1;
  position: absolute;
  width: 100%;
  top: 97px;
  bottom: 42px;
  overflow-y: auto;
}

#main {
  zoom: 1;
  width: 560px;
  padding: 20px 0 20px 20px;
  background: none;
}

#other_language_link {
  zoom: 1;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 14px;
  font-weight: bold;
}

form {
  width: 100%;
}

form.copy_html {
  width: inherit;
}

fieldset {
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 5px;
}

legend {
  padding: 0 5px;
  line-height: 17px;
}

form ul {
  zoom: 1;
  margin: 1em 0 1em 10px;
  overflow: hidden;
}

form fieldset ul {
  margin: 0 0 0 5px;
}

form li {
  float: left;
  margin-right: 5px;
  zoom: 1;
}

form h3 {
  font-weight: normal;
  color: #222;
  margin: 0;
}

.tell_friend {
  width: 520px;
  padding: 0 20px;
}

.tell_friend fieldset {
  width: 488px;
  padding: 5px 15px;
}

.tell_friend legend {
  font-size: 16px;
}

.tell_friend ul {
  width: 488px;
  margin-left: 0;
}

.tell_friend ul li {
  margin-right: 0;
}

.tell_friend ul li.width_x {
  width: 16px;
}

.tell_friend label {
  font-weight: bold;
}

.tell_friend div.tall {
  height: inherit;
}

.tell_friend textarea {
  height: 240px;
}

.tell_friend form p {
  margin: 1.5em 1em;
  font-size: 14px;
  font-weight: bold;
}

/* classes for floating field widths */
li.width_a div { width: 230px; }
li.width_b div { width: 125px; }
li.width_c div { width:  90px; }
li.width_d div { width:  80px; }
li.width_e div { width: 540px; }
li.width_f div { width: 150px; }
li.width_g div { width: 236px; }
li.width_h div { width: 488px; }

li.width_a input, li.width_a select { width: 224px; }
li.width_b input, li.width_b select { width: 119px; }
li.width_c input, li.width_c select { width:  84px; }
li.width_d input, li.width_d select { width:  74px; }
li.width_e input, li.width_e select { width: 534px; }
li.width_f input, li.width_f select { width: 144px; }
li.width_g input, li.width_g select { width: 230px; }
li.width_h input, li.width_h select { width: 482px; }
li.width_h textarea { width: 486px; }

ul.flat h3 {
  float: left;
  height: 25px;
  width: 120px;
  margin-right: 5px;
  line-height: 26px;      /* browser diff */
  text-align: right;
  font-size: 14px;
/*  font-weight: bold;*/
}

ul.flat .secondary h3 {
  width: 30px;
  margin-left: 10px;
}

ul.flat div {
  float: left;
  height: 25px;
}

ul.flat div.flat-stack {
  height: 50px;
  overflow: hidden;
}

ul.flat .secondary div.flat-stack {
  width: 130px;
}

ul.flat div div {
  float: none;
}

ul.stacked {
  margin-top: 5px;
}

ul.stacked h3 {
  margin-bottom: 3px;
  font-size: 13px;
}

ul.stacked li div {
  height: 25px;
}


ul.checkbox h3 {
  height: 25px;
  line-height: 20px;
}

ul.checkbox li.spacer {
  width: 120px;
  margin: 0;
}

fieldset.questions ul li {
  margin: 10px 0;
}

ul.affirm {
  width: 100%;
  margin: 20px 0;
}

ul.affirm li {
  width: 80%;
  margin: 10px 0 0 30px;
  font-size: 16px;
}

ul.affirm input {
  float: left;
  margin-right: 10px;
}

ul.affirm li .error {
  margin-left: 30px;
  font-size: 13px;
}

ul.question li, ul.question h3, ul.question div,
ul.affirm h3, ul.affirm div {
  width: 100%;
}

ul.question textarea {
  width: 95%;
  margin-top: 6px;
  margin-left: 3%;
}

ul.question select, ul.question span{
  display: block;
  margin: 1em auto;
  width: 10em;
}


form.edit_registrant, form.new_registrant {
  position: relative;
}

form hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  margin: 0;
  border: none;
}

div.back {
  text-align: center;
  font-size: 12px;
}

.has_error input, .has_error select {
  background-color: #fcc;
}

span.error, span.example {
  display: inline-block;
  font-size: 11px;
}

.error {
  color: #B2272C;
}

.example {
  color: #838383;
}

.flat span.error, .flat span.example {
  height: 24px;
  line-height: 28px;
  margin-left: 5px;
}

.stacked span.error, .stacked span.example {
  height: 12px;
  line-height: 15px;
  margin-left: 5px;
}

div.section {
  position: relative;
  margin-bottom: 20px;
}

.section span.button {
  display: block;
  position: absolute;
  top: 0;
  _top: 5px;
  right: 10px;
  _left: 505px;
}

.review ul {
  margin-top: 5px;
  _margin-top: 10px;
}

.review li {
  position: relative;
  height: 20px;
  line-height: 14px;
  font-size: 12px;
}

.review li.tall {
  height: 35px;
}

.review li span {
  position: absolute;
  width: 150px;
  font-weight: bold;
  text-align: right;
}

.review li div {
  position: absolute;
  left: 160px;
  font-family: Tahoma, sans-serif;
  letter-spacing: 0.08em;
}

.instructions p {
  margin: -5px 75px 10px 135px;
  color: #434343;
  font-size: 13px;
  line-height: 15px;
}

.text p {
  margin: 20px;
  color: #434343;
  font-size: 15px;
}

.checkbox-explanation p {
  margin: -5px 0px 20px 40px;
  color: #434343;
  font-size: 13px;
}

p.centered {
  text-align: center;
}

.download {
  border: 3px solid #333;
  background-color: #ddd;
  width: 85%;
  margin: 20px auto;
}

.download p {
  font-size: 14px;
  margin: 15px;
}

.download h2 {
  margin: 15px;
}

.reason {
  margin: 25px auto;
  width: 65%;
  color: #434343;
  font-size: 12px;
}

.fulltext p {
  margin: 20px 0px;
  color: #434343;
  font-size: 14px;
  line-height: 20px;
}

.share {
  width: 540px;
  margin: 0 auto 40px auto;
  overflow: hidden;
}

.share div {
  width: 33%;
  float: left;
  text-align: center;
}

.share span.button {
  display: inline-block;
}

div.tooltip {
  width: 25px !important;
}

img.tooltip {
  height: 17px;
  width: 16px;
}

.flat img.tooltip {
  margin: 1px 5px 0 5px;
}

legend img.tooltip {
  margin: 0 0 0 5px;
  vertical-align: middle;
}

/* rollover buttons */

a.button_edit_en          { width:  45px; height: 22px; }
a.button_nextstep_en      { width: 150px; height: 36px; }
a.button_review_en        { width: 207px; height: 56px; }
a.button_prepare_en       { width: 207px; height: 36px; }
a.button_print_en         { width: 207px; height: 80px; }

a.button_edit_es          { width:  65px; height: 22px; }
a.button_nextstep_es      { width: 150px; height: 36px; }
a.button_review_es        { width: 207px; height: 56px; }
a.button_prepare_es       { width: 207px; height: 36px; }
a.button_print_es         { width: 207px; height: 80px; }

a.button_edit_en              span { width:  45px; height: 22px; background-image: url(/images/en/button_edit_ro.gif); }
a.button_keepgoing_en         span { width: 207px; height: 36px; background-image: url(/images/en/button_keepgoing_ro.gif); }
a.button_nextstep_en          span { width: 150px; height: 36px; background-image: url(/images/en/button_nextstep_ro.gif); }
a.button_prepare_en           span { width: 207px; height: 36px; background-image: url(/images/en/button_prepare_ro.gif); }
a.button_print_en             span { width: 207px; height: 80px; background-image: url(/images/en/button_print_ro.gif); }
a.button_remindmelater_en     span { width: 189px; height: 22px; background-image: url(/images/en/button_remindmelater_ro.gif); }
a.button_review_en            span { width: 207px; height: 56px; background-image: url(/images/en/button_review_ro.gif); }
a.button_sendemail_en         span { width: 137px; height: 22px; background-image: url(/images/en/button_sendemail_ro.gif); }
a.button_share_facebook_en    span { width: 122px; height: 42px; background-image: url(/images/en/button_share_facebook_ro.gif); }
a.button_share_googlebuzz_en  span { width: 122px; height: 42px; background-image: url(/images/en/button_share_googlebuzz_ro.gif); }
a.button_share_twitter_en     span { width: 122px; height: 42px; background-image: url(/images/en/button_share_twitter_ro.gif); }

a.button_edit_es              span { width:  65px; height: 22px; background-image: url(/images/es/button_edit_ro.gif); }
a.button_keepgoing_es         span { width: 207px; height: 36px; background-image: url(/images/es/button_keepgoing_ro.gif); }
a.button_nextstep_es          span { width: 150px; height: 36px; background-image: url(/images/es/button_nextstep_ro.gif); }
a.button_prepare_es           span { width: 207px; height: 36px; background-image: url(/images/es/button_prepare_ro.gif); }
a.button_print_es             span { width: 207px; height: 80px; background-image: url(/images/es/button_print_ro.gif); }
a.button_remindmelater_es     span { width: 189px; height: 22px; background-image: url(/images/es/button_remindmelater_ro.gif); }
a.button_review_es            span { width: 207px; height: 56px; background-image: url(/images/es/button_review_ro.gif); }
a.button_sendemail_es         span { width: 137px; height: 22px; background-image: url(/images/es/button_sendemail_ro.gif); }
