html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #2a2a2a;
}

a { text-decoration: none; }
a:link    { color: #B2272C; }
a:visited { color: #B2272C; } 
a:hover   { color: #000000; }
a:active  { color: #666666; }

#main a {
  font-weight: bold;
}

.return a {
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6, legend {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4 { font-size: 12px; }
h5 { font-size: 12px; }
h6 { font-size: 12px; }
legend { font-size: 14px; }

input, select, textarea {
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}

input, textarea {
  letter-spacing: 0.08em;
}

#container {
  zoom: 1;
  width: 600px;
  margin: 0 auto;
  border: 2px solid #444;
  background-color: #dcdcdc;
}

#header {
  position: relative;
  height: 95px;
  background-image: url('/images/reg/header.jpg');
  background-repeat: no-repeat;
}

#partner-logo {
  position: absolute;
  top: 13px;
  left: 20px;
}
#partner-logo img {
  width: 73px;
  height: 43px;
}

#powered-by {
  position: absolute;
  top: 30px;
  right: 27px;
  width: 142px;
  height: 42px;
}

#powered-by span {
  position: absolute;
  top: 25px;
  left: 0;
  color: white;
  font-size: 11px;
  letter-spacing: 0.3px;
}

#powered-by img {
  position: absolute;
  bottom: 0;
  right: 0;
}

#progress-bar {
  position: absolute;
  bottom: 3px;
  left: 5px;
}

#progress-bar li {
  float: left;
  width: 27px;
  height: 22px;
  margin: 0 2px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 28px;
  background-repeat: no-repeat;
}

#progress-bar li.progress-done {
  background-image: url('/images/buttons/progress_done.gif');
}

#progress-bar li.progress-current {
  background-image: url('/images/buttons/progress_current.gif');
}

#progress-bar li.progress-todo {
  background-image: url('/images/buttons/progress_todo.gif');
}

#footer {
  width: 100%;
  height: 40px;
  color: #d0d0d0;
  background-color: black;
  font-family: "Avant Garde", "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 1.15em;
}

#footer p {
  padding-right: 1em;
  line-height: 40px;
  text-align: center;
}

#footer span {
  margin: 0 0.5em;
}

#footer a {
  color: #d0d0d0;
  text-decoration: none;
}

#footer a:hover {
  color: white;
}

.copyright {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  font-style: oblique;
  color: #CCCCCC;
}

#main_bg {
  padding: 20px;
  background: transparent url(/images/reg/content_bg_repeat_x.gif) top left repeat-x;
}
#main {
  zoom: 1;
  position: relative;
  background: none;
}

#other_language_link {
  zoom: 1;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  font-weight: bold;
}

form {
  width: 100%;
}

form.copy_html {
  width: inherit;
}

fieldset {
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 5px;
}

legend {
  padding: 0 5px;
}

form ul {
  zoom: 1;
  margin: 1em 0 1em 10px;
  overflow: hidden;
}

form fieldset ul {
  margin: 0 0 0 5px;
}

form li {
  float: left;
  margin-right: 0.5em;
}

form h3 {
  font-weight: normal;
  color: #222;
  margin: 0;
}


ul.flat h3 {
  float: left;
  height: 25px;
  width: 120px;
  margin-right: 5px;
  line-height: 26px;      /* browser diff */
  text-align: right;
  font-size: 14px;
/*  font-weight: bold;*/
}

ul.flat .secondary h3 {
  width: 30px;
  margin-left: 10px;
}

ul.flat div {
  float: left;
  height: 25px;
}

ul.flat div.flat-stack {
  height: 50px;
  width: 130px;
  overflow: hidden;
}

ul.flat div div {
  float: none;
}

ul.stacked {
  margin-top: 5px;
}

ul.stacked h3 {
  margin-bottom: 3px;
  font-size: 13px;
}

ul.stacked li div {
  height: 25px;
}


ul.checkbox h3 {
  height: 25px;
  line-height: 20px;
}

ul.checkbox li.spacer {
  width: 120px;
  margin: 0;
}

ul.question {
  width: 75%;
  margin-top: 20px;
}

ul.affirm {
  width: 100%;
  margin-top: 20px;
}

ul.question li, ul.question h3, ul.question div,
ul.affirm li, ul.affirm h3, ul.affirm div {
  width: 100%;
}

ul.question textarea {
  width: 95%;
  margin-top: 6px;
  margin-left: 3%;
}

ul.question select, ul.question span{
  display: block;
  margin: 1em auto;
  width: 10em;
}

ul.affirm li {
  width: 80%;
  margin: 0 0 10px 30px;
  font-size: 16px;
}

ul.affirm input {
  float: left;
  margin-right:10px;
}

form.edit_registrant, form.new_registrant {
  position: relative;
}

form hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  margin: 0;
  border: none;
}

form div.button {
  text-align: center;
  margin: 25px 0;
}

form div.button input {
  color: white;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.005em;
  text-transform: uppercase;
}

div.back {
  position: absolute;
  left: 10px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
}

span.error, span.example {
  display: inline-block;
  font-size: 11px;
}

.error {
  color: #B2272C;
}

.example {
  color: #838383;
}

.flat span.error, .flat span.example {
  height: 24px;
  line-height: 24px;
  margin-left: 5px;
}

.flat img.tooltip {
  margin: 4px;
}

legend img.tooltip {
  margin-left: 6px;
}

.stacked span.error, .stacked span.example {
  height: 12px;
  line-height: 15px;
  margin-left: 5px;
}

/* classes for floating field widths */
.width_a { _width: 230px; }
.width_b { _width: 125px; }
.width_c { _width:  90px; }
.width_d { _width:  70px; }


.review h2 {
  width: 100%;
  margin: 10px 0;
  padding: 6px 0;
  background-color: #aaa;
  color: black;
  text-indent: 20px;
  font-size: 14px;
  overflow: hidden;
}

.review h2 span {
  float: left;
}

.review_edit {
  float: right;
  padding: 0px 10px;
}

.review li {
  position: relative;
  height: 20px;
  line-height: 14px;
  font-size: 12px;
}

.review li.tall {
  height: 35px;
}

.review li span {
  position: absolute;
  width: 150px;
  font-weight: bold;
  text-align: right;
}

.review li div {
  position: absolute;
  left: 160px;
  font-family: Tahoma, sans-serif;
  letter-spacing: 0.08em;
}

.instructions p {
  margin: -5px 75px 10px 140px;
  color: #434343;
  font-size: 12px;
}

p.centered {
  text-align: center;
}

.download {
  border: 3px solid #333;
  background-color: #ccc;
  width: 80%;
  margin: 20px auto;
}

.download p {
  font-size: 14px;
  margin: 15px;
}

.download h2 {
  margin: 15px;
}

.reason {
  margin: 25px auto;
  width: 65%;
  color: #434343;
  font-size: 12px;
}
