/* Floatbox v3.54.3 */
/* November 29, 2009 */

div#fbPathChecker {
	background-image: url(graphics/blank.gif);  /* required for detection of graphics folder path */
}

div#fbOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-width: 0;
	margin: 0;
	padding: 0;
}

div#fbBox {
	position: absolute;
	border-style: solid;
	border-width: 0;
	margin: 0;
	padding: 0;
}

#fbBox div.fb, #fbBox a.fb, #fbBox img.fb, #fbBox iframe.fb, #fbBox #fbIndexLinks a, div#fbZoomDiv img#fbZoomImg {
	border-width: 0;
	margin: 0;
	padding: 0;
	outline: none;
	-moz-outline: none;  /* for older Netscape, doesn't validate, remove if you like */
	box-sizing: content-box;  /* in case * box-sizing:border-box is set */
}
#fbBox a.fb {
	background-image: url(graphics/blank.gif);
	background-color: transparent;
/* 	white-space: nowrap; */
	_zoom: 1;  /* gives layout for ie6 */
}
#fbBox div.fb {
	background-color: transparent;
}

div#fbZoomDiv, a.fbPopup img, a.fbPopdown img, a.fbPopleft img, a.fbPopright img, #fbBox #fbIndexLinks img {
	position: absolute;
	left: 0;
	top: -9999px;
	border-style: solid;
	border-color: black;
	/* border-width is set in js code */
	margin: 0;
	padding: 0;
}

#fbBox #fbBoxLoader, #fbZoomDiv #fbZoomLoader, #fbMainDiv #fbMainLoader {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
}

#fbZoomDiv #fbZoomLoader, #fbMainDiv #fbMainLoader { background-image: url(graphics/loader_black.gif); }

div.fbCycler a, div.fbCycler div {
	position: absolute;
	text-decoration: none;
}
div.fbCycler span {  /* wrap text under the thumbnail/image */
	display: block;
	text-align: center;
}
div.fbCycler a span {
	text-decoration: underline;
}

#fbBox #fbShadows, #fbBox #fbShadowTop, #fbBox #fbShadowRight, #fbBox #fbShadowBottom, #fbBox #fbShadowLeft, #fbBox #fbShadowCorner,
#fbBox #fbCorners, #fbBox #fbCornerTop, #fbBox #fbCornerRight, #fbBox #fbCornerBottom, #fbBox #fbCornerLeft {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}
#fbBox #fbShadows, #fbBox #fbCorners {
	overflow: visible;
}

#fbBox #fbShadowTop, #fbBox #fbShadowLeft, #fbBox #fbCornerTop { background-position: top left; }
#fbBox #fbShadowRight, #fbBox #fbCornerRight { background-position: top right; }
#fbBox #fbShadowCorner, #fbBox #fbCornerBottom { background-position: bottom right; }
#fbBox #fbShadowBottom, #fbBox #fbCornerLeft { background-position: bottom left; }

#fbBox #fbCanvas {
	position: relative;  /* images won't fade in/out in ie6 if absolute */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#fbBox #fbContent {
	height: 100%;
}

#fbBox #fbMainDiv, #fbBox #fbtlPanel, #fbBox #fbtrPanel, #fbBox #fbblPanel, #fbBox #fbbrPanel {
	position: absolute;
	border-style: solid;
	overflow: hidden;
}
#fbBox #fbMainDiv, div#fbZoomDiv {
	background-color: #fff;
}

#fbBox #fbInfoLink, #fbBox #fbPrintLink {  /* "Info...", "Print..." */
	font-weight: bold;
}

#fbBox #fbResizer {
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;  /* dimensions of the resize button */
	height: 25px;
}

#fbBox #fbDragger {
	position: absolute;
	width: 12px;
	height: 12px;
	cursor: nw-resize;
	background-position: bottom right;  /* 'cause ie6 makes it taller than 12px */
	background-repeat: no-repeat;
}

#fbBox #fbLeftNav, #fbBox #fbRightNav {
	position: absolute;
	height: 100%;
}
#fbBox #fbLeftNav, #fbBox #fbOverlayPrev {
	left: 0;
}
#fbBox #fbRightNav, #fbBox #fbOverlayNext {
	right: 0;
}

#fbBox #fbOverlayPrev, #fbBox #fbOverlayNext {
	position: absolute;
	width: 49px;  /* dimensions of the upper prev and next graphics */
	height: 23px;
	background-repeat: no-repeat;
}

#fbBox #fbtlPanel, #fbBox #fbtrPanel, #fbBox #fbblPanel, #fbBox #fbbrPanel {
	line-height: 1.25em;
	/* caption etc. text */
  	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

#fbBox #fbCaption, #fbBox #fbCaption2 {
	cursor: default;
}

#fbBox #fbItemNumber {
	font-size: 10px;  /* 'image x of y' text */
	white-space: nowrap;
	cursor: default;
}

#fbBox #fbControls {
	height: 14px;  /* height of control widget graphics - they should all be the same */
	font-size: 1px;
}

#fbBox #fbNavControls {
	width: 88px;  /* sum of lowerprev and lowernext widths */
	height: 14px;  /* height of 1 sprite panel in lowerprev and lowernext graphics */
}

#fbBox #fbPrev {
	float: left;
	width: 44px;  /* dimensions of the lower nav 'prev' graphic */
	height: 14px;
	background-repeat: no-repeat;
}

#fbBox #fbNext {
	float: right;
	width: 44px;  /* dimensions of the lower nav 'next' graphic */
	height: 14px;
	background-repeat: no-repeat;
}

#fbBox #fbPlay, #fbBox #fbPause {
	position: absolute;
	background-repeat: no-repeat;
}

#fbBox #fbPlayPause, #fbBox #fbPlay, #fbBox #fbPause {
	width: 46px;  /* dimensions of the 'play' and 'pause' graphics (they need to be the same size) */
	height: 14px;
	text-align: justify;
}

#fbBox #fbClose {
	width: 46px;  /* dimensions of the 'close' graphic */
	height: 14px;
	background-repeat: no-repeat;
}

#fbBox #fbIndexLinks, #fbBox #fbNewWindowLink {
	clear: both;
	font-size: 12px;
}
#fbBox #fbNewWindowLink a {
	font-size: 12px;
	padding-left: 19px;  /* for the bg image */
	background-repeat: no-repeat;
	background-position: top left;
}
#fbBox #fbNewWindowLink a:hover {
	background-position: bottom left;
}

/* posLeft, posCenter & posRight are dynamically assigned classes that allow layout of the panels depending on which side they're on */
#fbBox #fbtlPanel.posCenter, #fbBox #fbtrPanel.posCenter,
#fbBox #fbblPanel.posCenter, #fbBox #fbbrPanel.posCenter,
#fbBox #fbtlWidgetDiv.posCenter, #fbBox #fbtrWidgetDiv.posCenter,
#fbBox #fbblWidgetDiv.posCenter, #fbBox #fbbrWidgetDiv.posCenter,
#fbBox #fbIndexLinks.posCenter, #fbBox #fbNewWindowLink.posCenter {
	margin: 0 auto;
}
#fbBox #fbtlPanel.posRight, #fbBox #fbtrPanel.posRight,
#fbBox #fbblPanel.posRight, #fbBox #fbbrPanel.posRight,
#fbBox #fbtlWidgetDiv.posRight, #fbBox #fbtrWidgetDiv.posRight,
#fbBox #fbblWidgetDiv.posRight, #fbBox #fbbrWidgetDiv.posRight,
#fbBox #fbIndexLinks.posRight, #fbBox #fbNewWindowLink.posRight,
#fbBox #fbControls.posRight, #fbBox #fbClose.posRight,
#fbBox #fbSubControls.posRight, #fbBox #fbNavControls.posLeft,
#fbBox #fbPlayPause.posLeft {
	float: right;
}
#fbBox #fbtlPanel.posLeft, #fbBox #fbtrPanel.posLeft,
#fbBox #fbblPanel.posLeft, #fbBox #fbbrPanel.posLeft,
#fbBox #fbtlWidgetDiv.posLeft, #fbBox #fbtrWidgetDiv.posLeft,
#fbBox #fbblWidgetDiv.posLeft, #fbBox #fbbrWidgetDiv.posLeft,
#fbBox #fbIndexLinks.posLeft, #fbBox #fbNewWindowLink.posLeft,
#fbBox #fbControls.posLeft, #fbBox #fbClose.posLeft,
#fbBox #fbSubControls.posLeft, #fbBox #fbNavControls.posRight,
#fbBox #fbPlayPause.posRight {
	float: left;
}
/* IE6 wants these, maybe for layout? */
#fbSubControls, #fbClose, #fbIndexLinks, #fbNewWindowLink, #fbPlayPause, #fbNavControls {
	float: left;
}
