<b>Note</b>: If you are an American citizen living abroad or a uniformed military voter, <a href="http://www.rockthevote.com/voting-is-easy/voting-rights/overseas-rights/overseas.html " target="_blank">click here</a> to register to vote.
