<h1><%= I18n.t('txt.registration.download_header') %></h1>
<div class="download">
  <p><%= I18n.t('txt.registration.instructions.download') %></p>
  <p><%= link_to I18n.t('txt.button.download'), pdf_registrant_path(@registrant) %></p>
  <p><%= I18n.t('txt.registration.instructions.download_2') %></p>
</div>
