<h1><%= I18n.t('txt.registration.download_header') %></h1>
<div class="download">
  <h2><%= I18n.t('txt.registration.instructions.download') %></h2>
  <p class="centered"><%= rollover_image_link(:print, I18n.t('txt.button.download'), @registrant.pdf_path) %></p>
  <p><%= I18n.t('txt.registration.instructions.download_2') %></p>
</div>
