<h1><%= t('txt.registration.step_1_header') %></h1>

<% form_for(@registrant) do |form| %>
  <%= render :partial => 'form', :object => form %>
  <div class="button"><%= form.submit I18n.t('txt.button.submit') %></div>
<% end %>
