<h1>New registrant</h1>

<% form_for(@registrant) do |form| %>
  <%= form.error_messages %>
  <%= render :partial => 'form', :object => form %>
  <p><%= form.submit 'Create' %></p>
<% end %>

<%= link_to 'Back', registrants_path %>