<h1><%= t('txt.registration.step_1_header') %></h1>

<% if @registrant.new_record? %>
  <%= link_to t('txt.registration.other_language'), new_registrant_path(partner_locale_options(@partner_id, @alt_locale)), :id => 'other_language_link' %>
<% end %>

<% form_for(@registrant) do |form| %>
  <%= render :partial => 'form', :object => form %>
  <%= rollover_button(:nextstep, I18n.t('txt.button.submit')) %>
<% end %>
