<h1><%= t('txt.registration.step_1_header') %></h1>

<% form_for(@registrant) do |form| %>
  <%= render :partial => 'form', :object => form %>
  <div class="button"><%= image_submit_tag "#{I18n.locale}/button_nextstep.gif", :alt => I18n.t('txt.button.submit'), :id => "registrant_submit" %></div>
<% end %>
