<h1><%= I18n.t('txt.registration.finish_under_18_header') %></h1>
<div class="fulltext">
  <p><%= I18n.t('txt.registration.instructions.finish_under_18') %></p>
  <p><%= I18n.t('txt.registration.instructions.finish_under_18_2') %></p>
</div>
