<% @nav_class[:customize] = :current; @nav_class[:embed] = :current -%>
<%= render :partial => "layouts/customize_nav" %>
<h1>Upload Your Own Logo</h1>
<p>Take your voter registration tool to the next level by customizing the header with your own company / organization logo.</p>
<ul>
  <li>Appropriate formats include: JPG, GIF, or PNG</li>
  <li>Your logo will automatically be resized to 73 pixels wide by 43 pixels tall. If you can, resize your logo to those dimensions first for optimum results.</li>
</ul>