<div class="text">
  <p>
    We're sorry, but your session has timed out due to inactivity.
    But don't worry, you can still
    <%= link_to "start a new voter registration", new_registrant_path(partner_locale_options(@partner_id, @locale)) %>.
  </p>
</div>
