pdf_host_name: 'register2g.rockthevote.com'
from_address: "register@rockthevote.com"
default_url_host: "register2g.rockthevote.com"


states_with_online_registration:
  - CA
  - NV
  - WA

ovr_states:
  CA:
    api_settings:
      api_url: https://covrapi.sos.ca.gov/PostingEntityInterfaceService.svc
      api_key: LKh$aye
      debug_in_ui: false
      log_all_requests: true
      disclosures_prechecked: true
      web_agency_key: RTV
      web_url_base: https://covr.sos.ca.gov
      disclosures_url: https://408cfb943c38a5970903-5b52f06634f7505b14971829884d4c95.ssl.cf1.rackcdn.com/discl/
  NV:
    languages:
      - en
  WA:
    languages:
      - en

enabled_locales:
  - en
  - es
  - ko
  - tl
  - ilo
  - hi
  - th
  - vi
  - zh
  - ja
  - zh-tw
  - ur
  - bn