table { font-size: 13px; }
th, td { padding: 2px 5px; }
th { font-weight: bold; }

.actions { margin-top: 20px; }

.properties .label { font-weight: bold; text-align: right; }

.whitelabeled { display: none; }

.actions {
  margin: 20px 0;
}
.actions a { padding-right: 20px; }

table.assets {
  margin-top: 50px;
}

table.assets .name {
  width: 200px;
}
