$gradient: #c64d4f 0%, #ce6367 10%, #ce6367 65%, #bf363b 95%, #ad2328 100%;
$roll_gradient: #e4aaac 0%, #e4aaac 10%, #ce6367 65%, #bf363b 95%, #ad2328 100%;


iframe {
	margin:1em 0;
}

#container {
  width: 600px;
  background: #dcdcdc image-url('reg/content_bg_repeat_x.gif') repeat-x left top;
}
#sticky_footer { width: 600px; }
#footer        { width: 580px; }

#container {
  zoom: 1;
  position: relative;
}

#main {
  zoom: 1;
  background: none;
  overflow: auto;
  padding-bottom: 40px;
}

#main_inner {
  position: relative;
  width: 560px;
  padding: 20px 0 20px 20px;
}

#main a {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.return a {
  font-size: 12px;
}

#header {
  zoom: 1;
  position: relative;
  height: 95px;
  width: 100%;
  margin: 0 auto;
  background-image: image-url('reg/header.jpg');
  background-repeat: no-repeat;
}

#header.partner {
    background-image: image-url('reg/rtv-partner-header.png');
}
#partner-logo {
    left: 0px;
    position: absolute;
    top: 18px;
}


#partner-logo img {
  width: 75px;
  height: 45px;
}

#progress-bar {
  position: absolute;
  top: 71px;
  left: 5px;
}


#progress-bar li {
  float: left;
  width: 27px;
  height: 22px;
  margin: 0 2px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 28px;
  background-repeat: no-repeat;
}

#progress-bar li.progress-title {
  padding-right: 5px;
  font-size: 8px;
}


#progress-bar li.progress-done {
  background-image: image-url('buttons/progress_done.gif');
}

#progress-bar li.progress-current {
  background-image: image-url('buttons/progress_current.gif');
}

#progress-bar li.progress-todo {
  background-image: image-url('buttons/progress_todo.gif');
}

/*added larger font size for tooltips*/
.qtip-content {
  font-size: 1.15em;
	line-height: 1.6em;
	padding:9px;
}

#other_language_link {
  position:absolute;
  zoom: 1;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 14px;
  font-weight: bold;
}

.other_language_link {

}

.step_4 {
	h3 {
		font-weight: normal;
	}
}

/* step 5 */

div.section {
  position: relative;
  margin-bottom: 20px;
}

.section span.button {
  display: block;
  position: absolute;
  width: 45px;  /* need for IE */
  top: -2px;
  _top: 8px;
  right: 10px;
  _left: 505px;
}

.section span.button a {
  width: 45px;  /* need for IE */
}

.tell_friend {
  width: 520px;
  padding: 0 20px;
}

.tell_friend fieldset {
  width: 488px;
  padding: 5px 15px;
}

.tell_friend legend {
  font-size: 16px;
}

.tell_friend ul {
  width: 488px;
  margin-left: 0;
}

.tell_friend ul li {
  margin-right: 0;
}

.tell_friend ul li.width_x {
  width: 16px;
}

.tell_friend label {
  font-weight: bold;
}

.tell_friend div.tall {
  height: 240px;
}

.tell_friend textarea {
  height: 230px;
  width: 480px !important;
}

.tell_friend form p {
  margin: 1.5em 1em;
  font-size: 14px;
  font-weight: bold;
}

fieldset.no_border {
	border:0;
}

fieldset ul.flat h3 {
	width:auto;
	margin:0 10px 0 5px;
}

fieldset ul.race-dropdown, fieldset ul.party-dropdown {
	float:left;
}

fieldset ul.race-dropdown {
	width:340px;
}
fieldset ul.party-dropdown {
	width:198px;
}
fieldset ul.race-dropdown h3, fieldset ul.party-dropdown h3 {
}
fieldset ul.race-dropdown select {
	width: 200px;
}
fieldset ul.party-dropdown select {
	width: 100px;
}


fieldset ul.checkbox li {
	width:540px;
}

fieldset ul.checkbox li.spacer {
	width:0;
}

fieldset.questions ul li {
  margin: 10px 0;
}
/*
fieldset.questions ul.checkbox li {
    width: 420px;
}
fieldset.questions ul.checkbox li.spacer {
    width: 120px;
}*/


ul.affirm {
  width: 100%;
  margin: 20px 0;
}

ul.affirm li {
  width: 80%;
  margin: 10px 0 0 30px;
  font-size: 16px;
}

ul.affirm input {
  float: left;
  margin-right: 10px;
}

ul.affirm li .error {
  margin-left: 30px;
  font-size: 13px;
}

ul.question li, ul.question h3, ul.question div,
ul.affirm h3, ul.affirm div {
  width: 100%;
}

ul.question textarea {
  width: 95%;
  margin-top: 6px;
  margin-left: 3%;
}

ul.question select, ul.question span{
  display: block;
  margin: 1em auto;
  width: 10em;
}


form.edit_registrant, form.new_registrant {
  position: relative;
}

form hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  margin: 0;
  border: none;
}

div.back {
  text-align: center;
  font-size: 12px;
}

#external .review {
  padding: 0 20px;
}

.review ul {
  margin-top: 5px;
  _margin-top: 10px;
}

.review li {
  position: relative;
  height: auto;
  overflow: hidden;
  line-height: 18px;
  font-size: 12px;
}

.review li.tall {
  height: 35px;
}

.review li span {
  float: left;
  width: 150px;
  font-weight: bold;
  text-align: right;
}

.review li div {
  float: left;
  margin-left: 10px;
  font-family: Tahoma, sans-serif;
  letter-spacing: 0.08em;
}

#external .review li span { width: 175px; }
#external .review li div  { left: 185px; }

.instructions p {
  margin: -5px 75px 10px 135px;
  color: #434343;
  font-size: 13px;
  line-height: 20px;
}

.state_online_registrations_instructions p {
	font-size:14px;
	line-height:20px;
	font-weight:bold;
}

.text p {
  margin: 20px;
  color: #434343;
  font-size: 15px;
  line-height: 1.4;
}

.checkbox-explanation p {
  margin: -5px 75px 20px 110px;
  color: #434343;
  font-size: 13px;
}


.has_license .checkbox-explanation p {
    background: none repeat scroll 0 0 #EFEFEF;
    color: #2F9E00;
    font-size: 13px;
    font-weight: bold;
    margin: -5px 75px 20px 110px;
    padding: 10px;
}


fieldset .checkbox-explanation p {
	margin: -2px 40px 20px 10px;
}

fieldset .instructions p {
	margin: -2px 40px 20px 10px;
}


p.centered {
  text-align: center;
}

.download {
  position: relative;
  border: 3px solid #333;
  background-color: #ddd;
  width: 85%;
  margin: 20px auto;
}

.download p {
  font-size: 14px;
  margin: 15px;
	line-height: 1.6em;
}

.download h2 {
  margin: 15px;
}

.download h2.spaced_out {
  visibility: hidden;
}

.download h2.preparing {
  position: absolute;
  top: 0;
  left: 0;
}

.download p.preparing {
  height: 80px;
  text-align: center;
}
.download p.preparing img {
  vertical-align: middle;
}

#download_no_js {
  padding: 30px;
}

.reason {
  margin: 25px auto;
  width: 65%;
  color: #434343;
  font-size: 12px;
}

.fulltext p {
  margin: 20px 0px;
  color: #434343;
  font-size: 14px;
  line-height: 20px;
}

.share {
  width: 540px;
  margin: 0 auto 40px auto;
  overflow: hidden;
}

$fb_gradient: #627Db2 0%, #5175ad 10%, #4966af 65%, #3f5fa1 95%, #5f76a9 100%;
$fb_gradient_hover: #9eb3d5 0%, #97a2d2 10%, #8ea7cf 65%, #809ccb 95%, #9cadd0 100%;

.share div {
  width: 250px;
	margin-left: 15px;
  float: none;
  text-align: center;
	margin-bottom:10px;

	.rollover_button, .rollover_button:hover {

		display: block;
		width: 100%;

		a.button_share_facebook, a.button_share_twitter, a.button_share_facebook:hover, a.button_share_twitter:hover {

			width: 90%;
			display: block;

			border: 1px solid #314fac;
		  background: #ad2328;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#627Db2), color-stop(10%,#5175ad), color-stop(65%,#4966af), color-stop(95%,#3f5fa1), color-stop(100%,#5f76a9));
		  background: -webkit-linear-gradient(top, $fb_gradient);
		  background: -moz-linear-gradient(top,  $fb_gradient);
		  background: -ms-linear-gradient(top,  $fb_gradient);
		  background: -o-linear-gradient(top,  $fb_gradient);
		  padding: 5.5px 11px;
		  -webkit-border-radius: 4px;
		  -moz-border-radius: 4px;
		  border-radius: 4px;

			&:hover {
			  background: #ad2328;
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9eb3d5), color-stop(10%,#97a2d2), color-stop(65%,#8ea7cf), color-stop(95%,#809ccb), color-stop(100%,#9cadd0));
			  background: -webkit-linear-gradient(top, $fb_gradient_hover);
			  background: -moz-linear-gradient(top,  $fb_gradient_hover);
			  background: -ms-linear-gradient(top,  $fb_gradient_hover);
			  background: -o-linear-gradient(top,  $fb_gradient_hover);

			}

			span, span:hover {
				background-image: image-url('buttons/button_share_facebook_icon.png');
				background-position: 0 25%;
				padding-left:30px;
				display: block;
				width: auto;
			}
		}

		$tw_gradient: #85ddEA 0%, #88deeb 10%, #96e0ec 65%, #9de1ed 95%, #9ee0ec 100%;
		$tw_gradient_hover: #b8edf4 0%, #baedf5 10%, #c3eff5 65%, #c6eff6 95%, #e8f5f6 100%;

		a.button_share_twitter, a.button_share_twitter:hover {
			border: 1px solid #50b7c6;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#627Db2), color-stop(10%,#5175ad), color-stop(65%,#4966af), color-stop(95%,#3f5fa1), color-stop(100%,#5f76a9));
		  background: -webkit-linear-gradient(top, $tw_gradient);
		  background: -moz-linear-gradient(top,  $tw_gradient);
		  background: -ms-linear-gradient(top,  $tw_gradient);
		  background: -o-linear-gradient(top,  $tw_gradient);

			&:hover {
			  background: #ad2328;
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9eb3d5), color-stop(10%,#97a2d2), color-stop(65%,#8ea7cf), color-stop(95%,#809ccb), color-stop(100%,#9cadd0));
			  background: -webkit-linear-gradient(top, $tw_gradient_hover);
			  background: -moz-linear-gradient(top,  $tw_gradient_hover);
			  background: -ms-linear-gradient(top,  $tw_gradient_hover);
			  background: -o-linear-gradient(top,  $tw_gradient_hover);

			}

			span, span:hover {
				background-image: image-url('buttons/button_share_twitter_icon.png');
			}
		}
	}

}




.share span.button {
  display: inline-block;
}

.state_online_registration {
	overflow: hidden;
}

.state_online_registration .text {
	float: left;
	width: 295px;
}

.state_online_registration .text h1 {
	font-size:15px;
}

.state_online_registration .fulltext p {
	margin:5px 0 0 0;
	font-size: 13px;
	line-height: 18px;
}

.state_online_registration .share {
	width: 265px;
	float: left;
}

div.tooltip {
  width: 25px !important;
}

img.tooltip {
  height: 17px;
  width: 16px;
}

.flat img.tooltip {
  margin: 1px 5px 0 5px;
}

legend img.tooltip {
  margin: 0 0 0 5px;
  vertical-align: middle;
}


/* rollover buttons */
div, span {

	&.rollover_button, &.rollover_button:hover, &.rollover_button:active {
		a {
			display: inline-block;
			width: auto;
			white-space: normal;
		  border: 0px solid #c64d4f;
		  background: #ad2328;
		  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c64d4f), color-stop(10%,#ce6367), color-stop(65%,#ce6367), color-stop(95%,#bf363b), color-stop(100%,#ad2328));
		  background: -webkit-linear-gradient(top, $gradient);
		  background: -moz-linear-gradient(top,  $gradient);
		  background: -ms-linear-gradient(top,  $gradient);
		  background: -o-linear-gradient(top,  $gradient);
		  padding: 5.5px 11px;
		  -webkit-border-radius: 4px;
		  -moz-border-radius: 4px;
		  border-radius: 4px;
			text-align: left;
			/*
		  font-family: Helvetica, Arial, Sans-Serif;
		  text-decoration: none;
		  vertical-align: middle; */
			span {
				background: image-url('buttons/button_arrow.png') no-repeat right center;
				padding:7px 20px 5px 0;
				width: auto;
				display: inline-block;
			  color: white;
			  font-size: 20px;
				line-height: 1.4em;
				font-weight: bold;
				text-transform: uppercase;
				font-family: Helvetica, Arial, Sans-Serif;
				text-align: left;
			}
			&.button_edit {
				width: auto;
				padding: 3px;

				span {
					width: auto;
					padding: 3px;
					font-size:14px;
					background-image:none;
				}
			}
		}
		a.button_share_facebook, a.button_share-google_buzz, a.button_share_twitter         {
			width: 122px; height: 42px;
			background: none;
			padding:0;
			span {
				width: 80px; height: 32px;
				font-size:14px;
				padding: 10px 0 0 42px;
				background: image-url('buttons/button_share_facebook_ro.gif') no-repeat left top;
			}
			&:hover {
				span {
					color: #000000;
					background-position: right top;
				}
			}

		}
		a.button_share_google_buzz  span {  background-image: image-url('buttons/button_share_google_buzz_ro.gif'); }
		a.button_share_twitter      span {  background-image: image-url('buttons/button_share_twitter_ro.gif'); }

	}
}
div, span {

	&.rollover_button:hover, &.rollover_button:active {
		a {
	  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4aaac), color-stop(10%,#e4aaac), color-stop(65%,#ce6367), color-stop(95%,#bf363b), color-stop(100%,#ad2328));
		  background: -webkit-linear-gradient(top, $roll_gradient);
		  background: -moz-linear-gradient(top,  $roll_gradient);
		  background: -ms-linear-gradient(top,  $roll_gradient);
		  background: -o-linear-gradient(top,  $roll_gradient);
			span {
				background-image: image-url('buttons/button_arrow_hover.png');
			}
		}
	}
}



a.button_share_facebook     span { width: 122px; height: 42px;  }
a.button_share_google_buzz       { width: 122px; height: 42px; }

a.button_share_facebook, a.button_share_google_buzz, a.button_share_twitter {
	span {
		color: #FFFFFF;
	}
	&:hover {
		span {
			color: #000000;
		}
	}
}



/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #fff;
    background-image: image-url('reg/container-repeater.gif');
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: auto auto;
    color: #404040;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    overflow-x: hidden;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
 html {
	overflow-x:hidden; 
	height:100%;
}


h1, h2, h3, h4, h5, h6 {
	color: #101010;
	font-family: 'Open Sans', sans-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
    color: #B2272C;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    font-weight: inherit;
    color: #000;
}
h1 {
    font-size: 28px;
    line-height:40px;
    text-transform:uppercase;
    font-weight: 700;
}
h2 {
    font-size: 25px;
    line-height:29px;
    text-transform:uppercase;
    font-weight: 500;
}
h3 {
    font-size: 14px;
    line-height: 30px;
    text-transform:uppercase;
    font-weight: 400;
}
h4 {
    font-size: 24px;
    line-height: 27px;
    text-transform:uppercase;
    font-weight: 400;
}
h5 {
    font-size: 20px;
    line-height: 20px;
    text-transform:uppercase;
    font-weight: 800;
}
h6 {
    font-size: 16px;
    line-height: 20px;
    text-transform:none;
    font-weight: 700;
}
h3, h4, h5, h6 {
    margin-bottom: 15px;
}
form.edit_registrant, form.new_registrant {
    margin: 25px auto;
    position: relative;
    text-align: center;
}
#header {
    background-image: image-url('reg/rtv-header.png');
    background-repeat: no-repeat;
    height: 80px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    margin-bottom: 60px;
}
#other_language_link {
    border: none;
    border-radius: 6px;
    font-size: 13px;
    font-weight: lighter;
    margin: 0;
    padding: 5px 0;
    position: absolute;
    right: 0;
    top: 0;
}
#progress-bar {
    float: right;
    left: 0;
    position: relative;
    top: 100px;
}
#progress-bar li.progress-title {
    font-size: 12px;
    padding-right: 5px;
}
#container {
    background: none repeat scroll 0 0 #FFFFFF;
    min-height: 70%;
}
#main_inner {
    padding: 0;
    position: relative;
    width: 100%;
}
#sticky_footer {
background-color: #fff;
}
#footer {
    border-top: medium none;
    color: #444444;
    font-family: 'open sans';
    font-size: 12px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
#footer p {
    font-size: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}
ul.checkbox h3 {
    line-height: 28px;
    margin-bottom: 5px;
    margin-left: 12px;
    overflow: hidden;
    text-align: left;
}

/* #Links
================================================== */
a, a:visited {
	color: #c62129;
	text-decoration: none;
}
a:hover, a:focus {
	color: #333;
	text-decoration: underline;
}
p a, p a:visited {
	line-height: inherit;
	text-decoration: none;
}
a:focus {
	outline:none;
}

/* #Buttons
================================================== */

.button, button, input[type="submit"], input[type="reset"],	input[type="button"] {
	background: #B2272C;	
	margin-top: 20px;
	margin-bottom: 20px;
	border:none;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	line-height: normal;
	padding: 5px 25px;
	-webkit-transition : all 0.3s ease-out;
	-moz-transition : all 0.3s ease-out;
	-o-transition :all 0.3s ease-out;
	transition : all 0.3s ease-out; 
	border-bottom: 1px solid #fff;
	font-weight: 500;
	border-radius: 0;
	font-weight: 700;
}	
.button.smaller {
	margin-top: 5px;
	padding: 3px 10px;
	font-size: 13px;
	margin-bottom: 5px;
}
.button.smaller.kc-center {
	margin-left: 90px;
}
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	color: #B2272C;
	background:#292929;
	border-bottom: 1px solid #B2272C;
}
.button:active,	button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
	  color: #B2272C;
}
.button.full-width,	button.full-width, input[type="submit"].full-width,	input[type="reset"].full-width,	input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}	
input {
    -webkit-appearance: none; /*Safari/Chrome*/
    -moz-appearance: none; /*Firefox*/
    -ms-appearance: none; /*IE*/
    -o-appearance: none; /*Opera*/
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 34px;
    width: 100%;
    margin: 0;
    padding: 6px 8px;
    color: #404040;
    border: 1px solid #bebebe;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-size: 15px;
    z-index: 3;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
input, textarea {
    /*font: 15px/16px;*/
	font-family: 'Open Sans';
	font-weight: lighter;
    color:#404040;
}
textarea {
    border: 1px solid #bebebe;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-size: 15px;
    padding: 6px 8px;
}
input[type="checkbox"] {
    margin-right: 8px;
}
div.rollover_button a, div.rollover_button:hover a, div.rollover_button:active a, span.rollover_button a, span.rollover_button:hover a, span.rollover_button:active a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 0;
    display: inline-block;
    padding: 0;
    text-align: center;
    white-space: normal;
    width: auto;
}
form ul {
    margin: 10px 0 10px 10px;
    overflow: hidden;
}
form li {
    float: left;
    /*height: 40px;*/
    margin-right: 5px;
}
.flat {
    margin-bottom: 0;
    margin-top: 0;
}
/*ul.flat h3 {
    float: left;
    font-size: 14px;
    height: 57px;
    line-height: 35px;
    line-height: 16px;
    margin-right: 5px;
    text-align: right;
    width: 120px;
}*/
ul.flat h3 {
    float: left;
    font-size: 14px;
    height: 57px;
    line-height: 16px;
    margin-top: 10px;
    text-align: right;
    width: 120px;
}
ul.stacked h3 {
    font-size: 14px;
    margin-bottom: 3px;
    margin-left: 3px;
    text-align: left;
}
ul.checkbox h3 input {
    -moz-appearance: checkbox; /*Firefox*/
    -ms-appearance: checkbox; /*IE*/
    -o-appearance: checkbox; /*Opera*/
    appearance: checkbox;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    height: 20px;
    width: 20px;
    -webkit-appearance: checkbox;
}
li.width_a div {
    width: 300px;
}
li.width_a input, li.width_a select {
    width: 295px;
}
ul.checkbox-step-1 li {
    width: 460px;
}
li.width_f div {
    width: 250px;
}
li.width_f input, li.width_f select {
    width: 230px;
}
fieldset ul.checkbox li {
    width: 100%;
}
ul.checkbox h3 label {
    display: inline;
    line-height: 20px;
    margin-right: 10px;
    width: 90%;
}
ul.flat .secondary div.flat-stack {
    margin-left: 5px;
    text-align: left;
    width: 130px;
}
fieldset {
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    margin: 10px 0;
    padding: 5px;
    text-align: left;
}
li.width_e input, li.width_e select {
    width: 99%;
}
ul.question li, ul.question h3, ul.question div, ul.affirm h3, ul.affirm div {
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}
fieldset.questions {
    margin-top: 25px;
}
form hr {
    background-color: #FFFFFF;
    border: medium none;
    color: #CCCCCC;
    height: 1px;
    margin: 0;
}
.instructions p {
    color: #434343;
    font-size: 13px;
    line-height: 20px;
    margin: -5px 20px 10px 135px;
    text-align: left;
}
.checkbox-explanation p {
    color: #434343;
    font-size: 13px;
    margin: -5px 75px 20px 110px;
    text-align: left;
}
form.new_registrant p, form.edit_registrant {
    font-size: 13px;
    margin-top: 25px;
}
label.registrant_volunteer {
    width: 90%;
}
input[type=radio] {
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox;
    padding: 0;
    height:20px;
    display:inline-block;
    line-height:20px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:20px;
    vertical-align:middle;
    cursor:pointer;
    width: 20px;
}
input, select, textarea {
    font-family: "Open Sans",arial,sans-serif;
    margin-left: 1px;
}
.race-dropdown input, .race-dropdown select, .race-dropdown textarea, .party-dropdown input, .party-dropdown select, .party-dropdown textarea {
    margin-top: 7px;
}
.race-dropdown div.tooltip, .party-dropdown div.tooltip {
    margin-left: 5px;
    margin-top: 6px;
    width: 25px !important;
}

/* CA specific
================================================== */

.step_4 h3 {
    color: #000000;
    font-weight: normal;
    margin: 0 auto;
    width: 400px;
}
ul.affirm {
    margin: 0;
    width: 100%;
}
.disclosures {
    border: 1px solid #ccc;
    font-size: 13px;
    width: 525px;
    text-align: left;
}
ul.affirm input {
    float: left;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
    width: 20px;
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox;
}

/* online integration
================================================== */
#main_inner iframe {
    margin: 1em 0;
    width: 100%;
}
div.rollover_button a.button_share_facebook span, div.rollover_button a.button_share-google_buzz span, div.rollover_button a.button_share_twitter span, div.rollover_button:hover a.button_share_facebook span, div.rollover_button:hover a.button_share-google_buzz span, div.rollover_button:hover a.button_share_twitter span, div.rollover_button:active a.button_share_facebook span, div.rollover_button:active a.button_share-google_buzz span, div.rollover_button:active a.button_share_twitter span, span.rollover_button a.button_share_facebook span, span.rollover_button a.button_share-google_buzz span, span.rollover_button a.button_share_twitter span, span.rollover_button:hover a.button_share_facebook span, span.rollover_button:hover a.button_share-google_buzz span, span.rollover_button:hover a.button_share_twitter span, span.rollover_button:active a.button_share_facebook span, span.rollover_button:active a.button_share-google_buzz span, span.rollover_button:active a.button_share_twitter span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 14px;
    height: 32px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
div.rollover_button a.button_share_twitter span, div.rollover_button:hover a.button_share_twitter span, div.rollover_button:active a.button_share_twitter span, span.rollover_button a.button_share_twitter span, span.rollover_button:hover a.button_share_twitter span, span.rollover_button:active a.button_share_twitter span {
    background-image: none;
}
.state_online_registration .text {
    float: left;
    padding: 5px;
    width: 100%;
}
.state_online_registration .share {
    float: none;
    text-align: center;
    width: 400px;
}
.skip_state_registration > h1 {
    margin-bottom: 20px;
}

/*for layout file*/
#voterregtool iframe {
    display: block;
    margin: 0 auto;
}
.share div .rollover_button a.button_share_twitter, .share div .rollover_button a.button_share_twitter:hover, .share div .rollover_button:hover a.button_share_twitter, .share div .rollover_button:hover a.button_share_twitter:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
}
.share div .rollover_button a.button_share_facebook, .share div .rollover_button a.button_share_twitter, .share div .rollover_button a.button_share_facebook:hover, .share div .rollover_button a.button_share_twitter:hover, .share div .rollover_button:hover a.button_share_facebook, .share div .rollover_button:hover a.button_share_twitter, .share div .rollover_button:hover a.button_share_facebook:hover, .share div .rollover_button:hover a.button_share_twitter:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 4px;
    display: block;
    padding: 5.5px 11px;
    width: 90%;
}
.share div .rollover_button a.button_share_facebook span, .share div .rollover_button a.button_share_facebook span:hover, .share div .rollover_button a.button_share_twitter span, .share div .rollover_button a.button_share_twitter span:hover, .share div .rollover_button a.button_share_facebook:hover span, .share div .rollover_button a.button_share_facebook:hover span:hover, .share div .rollover_button a.button_share_twitter:hover span, .share div .rollover_button a.button_share_twitter:hover span:hover, .share div .rollover_button:hover a.button_share_facebook span, .share div .rollover_button:hover a.button_share_facebook span:hover, .share div .rollover_button:hover a.button_share_twitter span, .share div .rollover_button:hover a.button_share_twitter span:hover, .share div .rollover_button:hover a.button_share_facebook:hover span, .share div .rollover_button:hover a.button_share_facebook:hover span:hover, .share div .rollover_button:hover a.button_share_twitter:hover span, .share div .rollover_button:hover a.button_share_twitter:hover span:hover {
    background-repeat: no-repeat;
}

#progress-bar li.progress-current {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #eeeeee;
    background-image: none;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #ccc;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #ccc;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #ccc;
    border-top-style: solid;
    border-top-width: 1px;
    border-radius: 4px;
}

#progress-bar li.progress-todo {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #c7c7c7;
    background-image: none;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #ccc;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #ccc;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #ccc;
    border-top-style: solid;
    border-top-width: 1px;
    border-radius: 4px;
}

#progress-bar li.progress-done {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #94e71e;
    background-image: none;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #ccc;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #ccc;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #ccc;
    border-top-style: solid;
    border-top-width: 1px;
    border-radius: 4px;
}
#progress-bar li {
    line-height: 23px;
}
ul.checkbox h3 input {
    -moz-appearance: checkbox;
    box-sizing: border-box;
    display: block;
    float: left;
    height: 20px;
    width: 20px;
}

select {
border: 1px solid #bebebe;
-webkit-appearance: none;
-moz-appearance: none;
background: #fff image-url('reg/select-arrow.png') no-repeat 92% center;
width: 100px;
text-indent: 0.01px;
text-overflow: "";
color: #404040;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
font-size: 14px;
padding: 6px 8px 6px 3px;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
height: 34px;
min-width: 75px;
}
#other_language_link select {
    width: 163px;
    padding-left: 5px;
}

.flat.race-dropdown select, .flat.party-dropdown select {
    width: 256px;
    background: #fff image-url('reg/select-arrow.png') no-repeat 96% center;
    margin-top: 0;
}
#registrant_state_id_number {
    width: 256px;
}
.flat.race-dropdown {
    margin-top: 15px;
}
.step-4 ul.checkbox {
    margin-top: 25px;
}
.review ul {
    margin-bottom: 15px;
}

ul.affirm h3 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #efefef;
    border-bottom-color: #bebebe;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #bebebe;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #bebebe;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #bebebe;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: left;
    width: 100%;
}

.download {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ddd;
    border-bottom-color: #bebebe;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #bebebe;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #bebebe;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #bebebe;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    width: 99%;
}
.download p {
    font-size: 19px;
    font-weight: 800;
    line-height: 1.6em;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    text-align: center;
}
li.width_c div {
    max-width: 220px;
    min-width: 90px;
}
li.width_c input, li.width_c select {
    max-width: 128px;
    min-width: 84px;
}

.step_4 h1 {
    line-height: 32px;
}
.affirm h3 {
    margin-top: 20px;
}
.step_4 h3 {
    color: #000000;
    font-weight: normal;
    line-height: 25px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 400px;
}
.review li {
    font-size: 13px;
    height: 17px;
    line-height: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
.text p {
    color: #434343;
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    text-align: center;
}
fieldset.no_border {
    margin-bottom: 5px;
    margin-top: 5px;
}
#registrant_phone {
    letter-spacing: 0;
    padding-left: 6px;
}
.reason {
    color: #434343;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 75%;
}
.error {
    color: #b2272c;
    font-weight: bolder;
}
#progress-bar li.progress-title {
    min-width: 50px;
}