iframe {
	margin:1em 0;
}

#container {
  width: 600px;
  background: #dcdcdc url(/images/reg/content_bg_repeat_x.gif) repeat-x left top;
}
#sticky_footer { width: 600px; }
#footer        { width: 580px; }

#container {
  zoom: 1;
  position: relative;
}

#main {
  zoom: 1;
  background: none;
  overflow: auto;
  padding-bottom: 40px;
}

#main_inner {
  position: relative;
  width: 560px;
  padding: 20px 0 20px 20px;
}

#main a {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.return a {
  font-size: 12px;
}

#header {
  zoom: 1;
  position: relative;
  height: 95px;
  width: 100%;
  margin: 0 auto;
  background-image: url('/images/reg/header.jpg');
  background-repeat: no-repeat;
}

#header.partner {
  background-image: url('/images/reg/partner-header.jpg');
}

#partner-logo {
  position: absolute;
  top: 12px;
  left: 20px;
}
#partner-logo img {
  width: 75px;
  height: 45px;
}

#progress-bar {
  position: absolute;
  top: 71px;
  left: 5px;
}

.progress-title {
  padding-right: 5px;
}

#progress-bar li {
  float: left;
  width: 27px;
  height: 22px;
  margin: 0 2px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 28px;
  background-repeat: no-repeat;
}

#progress-bar li.progress-done {
  background-image: url('/images/buttons/progress_done.gif');
}

#progress-bar li.progress-current {
  background-image: url('/images/buttons/progress_current.gif');
}

#progress-bar li.progress-todo {
  background-image: url('/images/buttons/progress_todo.gif');
}

/*added larger font size for tooltips*/
.qtip-content {
  font-size: 1.15em;
}

#other_language_link {
  position:absolute;
  zoom: 1;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 14px;
  font-weight: bold;
}

.other_language_link {

}

/* step 5 */

div.section {
  position: relative;
  margin-bottom: 20px;
}

.section span.button {
  display: block;
  position: absolute;
  width: 45px;  /* need for IE */
  top: -2px;
  _top: 8px;
  right: 10px;
  _left: 505px;
}

.section span.button a {
  width: 45px;  /* need for IE */
}

.tell_friend {
  width: 520px;
  padding: 0 20px;
}

.tell_friend fieldset {
  width: 488px;
  padding: 5px 15px;
}

.tell_friend legend {
  font-size: 16px;
}

.tell_friend ul {
  width: 488px;
  margin-left: 0;
}

.tell_friend ul li {
  margin-right: 0;
}

.tell_friend ul li.width_x {
  width: 16px;
}

.tell_friend label {
  font-weight: bold;
}

.tell_friend div.tall {
  height: 240px;
}

.tell_friend textarea {
  height: 230px;
  width: 480px !important;
}

.tell_friend form p {
  margin: 1.5em 1em;
  font-size: 14px;
  font-weight: bold;
}

fieldset.no_border {
	border:0;
}

fieldset ul.flat h3 {
	width:auto;
	margin:0 10px 0 5px;
}

fieldset ul.race-dropdown, fieldset ul.party-dropdown {
	float:left;
}

fieldset ul.race-dropdown {
	width:340px;
}
fieldset ul.party-dropdown {
	width:198px;
}
fieldset ul.race-dropdown h3, fieldset ul.party-dropdown h3 {
}
fieldset ul.race-dropdown select {
	width: 200px;
}
fieldset ul.party-dropdown select {
	width: 100px;
}


fieldset ul.checkbox li {
	width:540px;
}

fieldset ul.checkbox li.spacer {
	width:0;
}

fieldset.questions ul li {
  margin: 10px 0;
}
/*
fieldset.questions ul.checkbox li {
    width: 420px;
}
fieldset.questions ul.checkbox li.spacer {
    width: 120px;
}*/


ul.affirm {
  width: 100%;
  margin: 20px 0;
}

ul.affirm li {
  width: 80%;
  margin: 10px 0 0 30px;
  font-size: 16px;
}

ul.affirm input {
  float: left;
  margin-right: 10px;
}

ul.affirm li .error {
  margin-left: 30px;
  font-size: 13px;
}

ul.question li, ul.question h3, ul.question div,
ul.affirm h3, ul.affirm div {
  width: 100%;
}

ul.question textarea {
  width: 95%;
  margin-top: 6px;
  margin-left: 3%;
}

ul.question select, ul.question span{
  display: block;
  margin: 1em auto;
  width: 10em;
}


form.edit_registrant, form.new_registrant {
  position: relative;
}

form hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  margin: 0;
  border: none;
}

div.back {
  text-align: center;
  font-size: 12px;
}

#external .review {
  padding: 0 20px;
}

.review ul {
  margin-top: 5px;
  _margin-top: 10px;
}

.review li {
  position: relative;
  height: 20px;
  line-height: 14px;
  font-size: 12px;
}

.review li.tall {
  height: 35px;
}

.review li span {
  position: absolute;
  width: 150px;
  font-weight: bold;
  text-align: right;
}

.review li div {
  position: absolute;
  left: 160px;
  font-family: Tahoma, sans-serif;
  letter-spacing: 0.08em;
}

#external .review li span { width: 175px; }
#external .review li div  { left: 185px; }

.instructions p {
  margin: -5px 75px 10px 135px;
  color: #434343;
  font-size: 13px;
  line-height: 15px;
}

.state_online_registrations_instructions p {
	font-size:14px;
	line-height:18px;
	font-weight:bold;
}

.text p {
  margin: 20px;
  color: #434343;
  font-size: 15px;
  line-height: 1.4;
}

.checkbox-explanation p {
  margin: -5px 75px 20px 110px;
  color: #434343;
  font-size: 13px;
}


.has_license .checkbox-explanation p {
    background: none repeat scroll 0 0 #EFEFEF;
    color: #2F9E00;
    font-size: 13px;
    font-weight: bold;
    margin: -5px 75px 20px 110px;
    padding: 10px;
}


fieldset .checkbox-explanation p {
	margin: -2px 40px 20px 10px;
}

fieldset .instructions p {
	margin: -2px 40px 20px 10px;
}


p.centered {
  text-align: center;
}

.download {
  position: relative;
  border: 3px solid #333;
  background-color: #ddd;
  width: 85%;
  margin: 20px auto;
}

.download p {
  font-size: 14px;
  margin: 15px;
}

.download h2 {
  margin: 15px;
}

.download h2.spaced_out {
  visibility: hidden;
}

.download h2.preparing {
  position: absolute;
  top: 0;
  left: 0;
}

.download p.preparing {
  height: 80px;
  text-align: center;
}
.download p.preparing img {
  vertical-align: middle;
}

#download_no_js {
  padding: 30px;
}

.reason {
  margin: 25px auto;
  width: 65%;
  color: #434343;
  font-size: 12px;
}

.fulltext p {
  margin: 20px 0px;
  color: #434343;
  font-size: 14px;
  line-height: 20px;
}

.share {
  width: 540px;
  margin: 0 auto 40px auto;
  overflow: hidden;
}

.share div {
  width: 50%;
  float: left;
  text-align: center;
}

.share span.button {
  display: inline-block;
}

.state_online_registration {
	overflow: hidden;
}

.state_online_registration .text {
	float: left;
	width: 295px;
}

.state_online_registration .text h1 {
	font-size:15px;
}

.state_online_registration .fulltext p {
	margin:5px 0 0 0;
	font-size: 13px;
	line-height: 18px;
}

.state_online_registration .share {
	width: 265px;	
	float: left;
}

div.tooltip {
  width: 25px !important;
}

img.tooltip {
  height: 17px;
  width: 16px;
}

.flat img.tooltip {
  margin: 1px 5px 0 5px;
}

legend img.tooltip {
  margin: 0 0 0 5px;
  vertical-align: middle;
}

/* rollover buttons */
div.button a {
	height:22px;
	width: auto;
	span {
		height: 22px;
		width: auto;
		padding:8px 10px; font-size:13px;
		white-space: normal;
		color: #B2272C;
	}
}


a.button_share_facebook         { width: 122px; height: 42px; }
a.button_share_facebook     span { width: 122px; height: 42px; background-image: url(/images/buttons/button_share_facebook_ro.gif); }
a.button_share_google_buzz       { width: 122px; height: 42px; }
a.button_share_google_buzz  span { width: 122px; height: 42px; background-image: url(/images/buttons/button_share_google_buzz_ro.gif); }
a.button_share_twitter          { width: 122px; height: 42px; }
a.button_share_twitter      span { width: 122px; height: 42px; background-image: url(/images/buttons/button_share_twitter_ro.gif); }

a.button_share_facebook, a.button_share_google_buzz, a.button_share_twitter {
	span {
		color: #FFFFFF;
	}
	&:hover {
		span {
			color: #000000;
		}
	}
}



