<table cellspacing="0">
  <thead><tr><th colspan="3">Customize Your Registration Tool</th></tr></thead>
  <tbody>
    <tr class="odd">
      <th>
        <ul>
          <li><%= link_to "Standard Partners", admin_partners_path %></li>
          <li><%= link_to "Government Partners", admin_government_partners_path %></li>
        </ul>
      </th>
    </tr>
  </tbody>
</table>
