<div id="customize_nav">
  <p>
    <%= link_to "Upload Your Logo", partner_logos_path, :class => @nav_class[:logo] %> |
    <%= link_to "Edit Survey Questions",  edit_partner_questions_path, :class => @nav_class[:questions] %> |
    <%= link_to "Choose Your Banner", partner_widget_image_path, :class => @nav_class[:widget] %> |
    <%= link_to "Get Your Embed Code", embed_codes_partner_path, :class => @nav_class[:embed] %>
  </p>
</div>
