<div id="footer">
  <hr/>
  <p>
    <span><a href="http://www.rockthevote.com/voter-registration/online-application-system/faq.html" target="_blank" title="FAQ">FAQ</a></span>
    <span><a href="http://www.rockthevote.com/voter-registration/online-application-system/privacy.html" target="_blank" title="Privacy &amp; Security">Privacy &amp; Security</a></span>
    <span><a href="http://www.rockthevote.com/voter-registration/online-application-system/contact.html" target="_blank" title="Contact Us">Contact Us</a></span>
    <span><a href="http://www.rockthevote.com/voter-registration/online-application-system/about.html" target="_blank" title="About">About</a></span>
    <span class="copyright">&copy; Copyright <%=Date.today.year%>, <a href="#">Rock the Vote</a></span>
  </p>
</div>
