!!!
%html
  %head
    = stylesheet_link_tag asset_data_base64('reset'), asset_data_base64('nvra')
    - nvra_css.each do |file|
      = stylesheet_link_tag asset_data_base64(file)
    %meta{:'http-equiv'=>"content-type", :content=>"text/html; charset=utf-8"}
    %meta{:charset=>"UTF-8"}
  %body
    = yield
